{% extends 'base.html' %}
{% load static %}
{% block titulo %}Galeria{% endblock titulo %}
{% block contenido %}
<div class="row pt-5">
	<div class="col-12">
		<h2 class="text-center">Album de fotos</h2>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/galeria_1.jpg' %}" alt="..." class="rounded text-center">
	</div>
	<div class="col-6">
		<h3><a href="#">Leanne Graham</a></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/galeria_2.jpg' %}" alt="..." class="rounded text-center">
	</div>
	<div class="col-6">
		<h3><a href="#">Patricia Lebsack</a></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/galeria_3.jpg' %}" alt="..." class="rounded text-center">
	</div>
	<div class="col-6">
		<h3><a href="#">Clementine Bauch</a></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/galeria_4.jpg' %}" alt="..." class="rounded text-center">
	</div>
	<div class="col-6">
		<h3><a href="#">Ervin Howell</a></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/galeria_5.jpg' %}" alt="..." class="rounded text-center">
	</div>
	<div class="col-6">
		<h3><a href="#">Chelsey Dietrich</a></h3>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
{% endblock contenido %}