{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock titulo %}
{% block contenido %}
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/autoridad_1.jpg' %}" alt="..." class="rounded-circle text-center">
	</div>
	<div class="col-6">
		<h3>Leanne Graham</h3>
		<h5>Director</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/autoridad_2.jpg' %}" alt="..." class="rounded-circle text-center">
	</div>
	<div class="col-6">
		<h3>Patricia Lebsack</h3>
		<h5>Vicedirección</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/autoridad_3.jpg' %}" alt="..." class="rounded-circle text-center">
	</div>
	<div class="col-6">
		<h3>Clementine Bauch</h3>
		<h5>Regente</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/autoridad_4.jpg' %}" alt="..." class="rounded-circle text-center">
	</div>
	<div class="col-6">
		<h3>Ervin Howell</h3>
		<h5>Regente</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
<div class="row pt-5">
	<div class="col-2 offset-md-1">
		<img src="{% static 'img/autoridad_5.jpg' %}" alt="..." class="rounded-circle text-center">
	</div>
	<div class="col-6">
		<h3>Chelsey Dietrich</h3>
		<h5>Jefe de taller</h5>
		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit risus nec orci non, dis commodo felis consequat urna sapien semper dictumst arcu gravida.</p>
	</div>
</div>
{% endblock contenido %}