{% extends 'base.html' %}
{% load static %}
{% block titulo %}Teoria{% endblock titulo %}
{% block contenido %}
<div class="row pt-5 pb-5">
	<div class="col-12">
		<h2 class="text-center">Cuadernillos de teoria</h2>
	</div>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Ciclo Básico
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h5 class="text-center">Año: 01 - Régimen Anual</h5>
        <div class="table-responsive">
        	<table class="table table-sm text-center">
        		<thead>
        			<tr>
        				<th>Materias</th>
        				<th>Cuadernillo</th>
        				<th>Programa</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>Biologia</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Lengua y Literatura</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Dibujo</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Educacion Civica</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Geografia</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Historia</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Matematica</td>
        				<td></td>
        				<td></td>
        			</tr>
        			<tr>
        				<td>Educacion Fisica</td>
        				<td></td>
        				<td></td>
        			</tr>
        		</tbody>
        	</table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ciclo superior
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}